@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
* {
  outline: none; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
  body header {
    height: 548px; }
    body header .header_picture {
      width: 100%;
      height: 500px;
      background: #d0d0d0; }
      body header .header_picture .header_background {
        position: absolute;
        width: 100%;
        height: 500px;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        background-image: url(/img/header_background_0.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; }
      body header .header_picture h1 {
        position: absolute;
        height: 500px;
        width: 100%;
        line-height: 500px;
        text-align: center;
        margin: 0;
        background: rgba(255, 255, 255, 0.5);
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 128px;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        cursor: default; }
        body header .header_picture h1 a.pale_black_dot::after {
          position: absolute;
          height: 1px;
          top: 72px;
          transition: 0.2s ease;
          content: 'Вы находитесь здесь';
          font-size: 14px;
          opacity: 0.0;
          color: red; }
        body header .header_picture h1 a.pale_black_dot:hover {
          color: red; }
          body header .header_picture h1 a.pale_black_dot:hover::after {
            opacity: 0.7; }
    body header nav {
      transition: 0.5s ease;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      height: 48px;
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
      body header nav a {
        transition: 0.2s ease;
        display: block;
        float: left;
        text-decoration: none;
        height: 48px;
        line-height: 48px;
        padding: 0 48px; }
        body header nav a, body header nav a:visited {
          color: #a0a0a0; }
        body header nav a:hover {
          background: rgba(0, 0, 0, 0.05); }
      body header nav.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.95;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  body main {
    padding: 16px 0px; }
    body main section {
      width: 80vw;
      margin: auto; }
      body main section .tiles {
        display: flex;
        justify-content: center; }
        body main section .tiles .tile {
          display: block;
          float: left;
          width: 250px;
          height: 250px; }
  body footer {
    height: 64px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); }
    body footer a.github_link {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(/img/mark-github.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

/*# sourceMappingURL=master.css.map */
