@font-face {
    font-family: 'Sawasdee';
    src: url('/fonts/Sawasdee.ttf');
}

body {
    font-family: 'Lato', sans-serif;;
    font-weight: 100;
    background: #000000;
    margin: 0;
}

@keyframes title_animation_keyframes {
    10%  { text-shadow: 0 0 7px rgba(255, 255, 255, 0.3); }
    30%  { text-shadow: 0 0 7px rgba(255, 255, 0,   0.3); }
    40%  { text-shadow: 0 0 7px rgba(0,   255, 0,   0.3); }
    50%  { text-shadow: 0 0 7px rgba(0,   255, 255, 0.3); }
    60%  { text-shadow: 0 0 7px rgba(0,   0,   255, 0.3); }
    70%  { text-shadow: 0 0 7px rgba(255, 0,   255, 0.3); }
    80%  { text-shadow: 0 0 7px rgba(255, 0,   0,   0.3); }
    100% { text-shadow: 0 0 7px rgba(255, 255, 255, 0.3); }
}

.title {
    font-size: 96px;
    margin-top: 64px;
    padding-top: 32px;
    padding-bottom: 30px;
    text-align: center;
    color: #f0f0f0;
    animation: title_animation_keyframes 10s infinite;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.05);
}

p {
    margin: 0;
    margin-top: 32px;
    text-align: center;
    color: #f0f0f0;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    font-weight: 100;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}