@font-face {
    font-family: 'Sawasdee';
    src: url('/fonts/Sawasdee.ttf');
}

body {
    font-family: 'Lato', sans-serif;;
    font-weight: 100;
    background: #000000;
    margin: 0;
}

@keyframes title_animation_keyframes {
    10%  {
        color: #ffffff;
        text-shadow: 0 0 7px #ffffff;
    }
    30%  {
        color: #fffff0;
        text-shadow: 0 0 7px #ffff00;
    }
    40%  {
        color: #f0ffa0;
        text-shadow: 0 0 7px #00ff00;
    }
    50%  {
        color: #f0ffff;
        text-shadow: 0 0 7px #00ffff;
    }
    60%  {
        color: #f0f0ff;
        text-shadow: 0 0 7px #0000ff;
    }
    70%  {
        color: #fff0ff;
        text-shadow: 0 0 7px #ff00ff;
    }
    80%  {
        color: #fff0f0;
        text-shadow: 0 0 7px #ff0000;
    }
    100% {
        color: #ffffff;
        text-shadow: 0 0 7px #ffffff;
    }
}

.title {
    font-size: 96px;
    margin-top: 64px;
    padding-top: 32px;
    padding-bottom: 30px;
    text-align: center;
    color: #ffffff;
    animation: title_animation_keyframes 10s infinite;
    text-shadow: 0 0 7px #ffffff;
    background: rgba(255, 255, 255, 0.05);
}

p {
    margin: 0;
    margin-top: 32px;
    text-align: center;
    color: #f0f0f0;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    font-weight: 100;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}