@import url(https://fonts.googleapis.com/css?family=Lato:100);

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

* { font-weight: 100; }

main {
    width: 1024px;
    margin: auto;
    position: relative;
}

main .image {
    position: absolute;
    background: url(img/sad_white_ocelot.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}

main .content {
    position: absolute;
    right: 0;
    width: 512px;
    height: 512px;
}

main .content h1 {
    margin: 0;
    font-size: 128px;
    line-height: 256px;
    text-align: center;
}

main .content .links {
    display: inline-flex;
    justify-content: space-between;
    width: 512px;
    height: 256px;
}

main .content .links a {
    transition: 0.2s ease;
    opacity: 0.8;
    width: 100%;
    width: 128px;
    height: 128px;
    margin: 64px 32px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

main .content .links a:hover { opacity: 1.0; }

main .content .links a.gplus { background-image: url(img/gplus.svg);}
main .content .links a.vk { background-image: url(img/vk.svg);}
main .content .links a.github { background-image: url(img/github.svg);}
main .content .links a.twitch { background-image: url(img/twitch.svg);}
