@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

body {
    font-family: 'Fira Sans', sans-serif;
    width: 1000px;
    margin: auto;
}

* { font-weight: 300; }

.image {
    background: url(img/rad_white_ocelot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
}

.title {
    text-align: center;
}

.also {
    text-align: center;
}

.links, .also-links {
    text-align: center;
}

.links a, .also-links a {
    margin: 0px 30px 0px 30px; 
}