@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
}

* { font-weight: 300; }

.image {
    background: url(rawieo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 120px;
}

.about {
    position: relative;
    flex-grow: 1;
    margin-left: 16px;
}

.about h1 {
    margin: 8px 0px 0px 0px;
}

.about .contact {
    display: block;
    height: 24px;
    line-height: 24px;
}

.about .contact::after {
    content: attr(data-warn);
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    background: white;
    opacity: 0.0;
    transition: 0.1s ease-in;
    text-decoration: underline;
}

.about .contact:hover::after {
    opacity: 1.0;
}
